<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <link rel="stylesheet" href="//cdn.quilljs.com/1.2.6/quill.snow.css">
    <link href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <script src="https://use.fontawesome.com/db6cc482ec.js"></script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class=''>
      <div class='top-bar'>
        <div class="top-bar-left logo">
          <a href='/'>WriteLab<span>BETA</span></a>
        </div>
        <div class="top-bar-right">
          <ul class='menu'>
            <% if !current_author %>
            <li><%= link_to "Sign In", new_author_session_path %></li>
            <li><%= link_to "Sign Up", new_author_registration_path %></li>
            <% else %>
            <li>
              <a href='<%= edit_author_registration_path %>' >
                <div class="profile-photo" style='background-image: url('');'></div> <%= "#{current_author.username}" %>
              </a>
            </li>
            <li><%= link_to "Sign Out", destroy_author_session_path, method: :delete %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </header>
    <div class="flash">
      <span class="notice"><%= notice %></span>
      <span class="alert"><%= alert %></span>
    </div>
    <%= yield %>
  </body>
</html>
