<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <div class='top-bar'>
        <div class="top-bar-left logo">
          WriteLab
        </div>
        <div class="top-bar-right">
          <ul class='menu'>
          <% if !current_author %>
          <li><%= link_to "Sign In", new_author_session_path %></li>
          <li><%= link_to "Sign Up", new_author_registration_path %></li>
          <% else %>
          <ul class='menu'>
            <li>
              <a href='<%= edit_author_registration_path %>' >
                <div class="profile-photo" style='background-image: url('');'></div> <%= "#{current_author.username}" %>
              </a>
            </li>
            <li><%= link_to "Sign Out", destroy_author_session_path, method: :delete, class: 'util-button' %></li>
          </div>
          <% end %>
        </div>
      </div>
    </header>
    <div class="flash">
      <span class="notice"><%= notice %></span>
      <span class="alert"><%= alert %></span>
    </div>
    <%= yield %>
  </body>
</html>
